body{
font-family:Arial, sans-serif;
background:#f8f9fa;
margin:0;
}

/* NAVBAR */

.navbar{
background:#000;
}

.logo{
height:50px;
}

/* HERO */

.program-hero{
height:50vh;
background:
linear-gradient(rgba(0,0,0,0.6), rgba(0,0,0,0.6)),
url("../images/programs.webp") center/cover no-repeat;
display:flex;
align-items:center;
color:white;
padding:80px;
}

.program-hero h1{
font-size:48px;
font-weight:bold;
}

.program-hero p{
font-size:18px;
}

/* PROGRAM SECTION */

.program-section{
padding:80px 0;
}

.program-row{
display:flex;
align-items:center;
gap:50px;
margin-bottom:70px;
}

.program-row.reverse{
flex-direction:row-reverse;
}

.program-image{
flex:1;
}

.program-image img{
width:100%;
border-radius:10px;
}

.program-text{
flex:1;
}

.program-text h2{
margin-bottom:15px;
font-size:32px;
}

.program-text p{
margin-bottom:15px;
font-size:17px;
}

.program-text ul{
padding-left:20px;
}

.program-text li{
margin-bottom:6px;
}

/* MOBILE */

@media(max-width:768px){

.program-row{
flex-direction:column;
}

.program-row.reverse{
flex-direction:column;
}

}

/* CTA */

.cta{
padding:0px 0 30px;
}

/* FOOTER */

footer{
background:#111;
color:white;
padding:25px;
text-align:center;
}

/* MOBILE */

@media(max-width:768px){

.program-hero{
height:40vh;
padding:40px;
}

.program-hero h1{
font-size:32px;
}

}
